* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* nav -- start */

.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 1.5em;
  text-decoration: none;
  background-color: white;
}

.nav-link:hover {
  background-color: #00bc8c;
}

.nav-link:hover a {
  color: white;
}

#user a:hover {
  color: white;
}

.nav-link a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-link {
  width: 20%;
  text-align: center;
  position: relative;
  display: flex;
}

#user:hover .user-param {
  display: flex;
  flex-direction: column;
}

.user-param {
  display: none;
  position: absolute;
  background-color: white;
  height: 250%;
  width: 75%;
  margin: auto;
  top: 100%;
  left: 0;
  align-items: center;
  justify-content: space-evenly;
  border: solid;
  border-top: none;
  padding: 5%;
  z-index: 1;
}

.user-param button {
  width: 75%;
  margin: auto;
}

/* nav -- end */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-container {
  margin: 2.5% auto;
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.name-block {
  margin: 0 auto 2.5%;
  width: 80%;
  display: flex;
}

.name {
  text-align: center;
  border-radius: 0.25rem 0;
  border: solid 2.5px coral;
  margin: auto;
  width: 35%;
}

.form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bet-btn {
  color: black;
  width: 25%;
  margin: 2.5% auto 0;
}

.ticket {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: solid;
  border-radius: 0.25rem;
}

.bet-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bet-block input {
  display: none;
}

input[type="radio"] + label {
  display: flex;
  width: 25%;
  background-color: lightgray;
  margin: 5% auto;
  text-align: center;
  cursor: pointer;
  color: black;
  border-radius: 0.25rem 0;
}

input[type="radio"]:checked + label {
  background-color: lightslategray;
  color: white;
}

.match-block {
  margin: 2.5% auto;
  width: 80%;
}

.match-block p {
  margin: 0;
  text-align: center;
}

label p {
  margin: 0;
  width: 100%;
}

/* Résultat paris */

.final-bet {
  margin: auto;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.final-bet-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn-result-block {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btn-result {
  width: 60%;
}

/* Sign-up page -- start */

.sign-up-main,
.sign-in-main {
  height: 90vh;
}

.sign-up-form,
.sign-in-form {
  width: 50%;
  margin: auto;
  height: 80%;
  font-size: 1.5em;
}

.change-info-form {
  width: 75%;
  margin: auto;
  height: 80%;
  font-size: 1.5em;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sign-up-label,
.sign-in-label {
  width: 30%;
}

.sign-up-input,
.sign-in-input {
  width: 60%;
  border: solid 1px;
  border-radius: 0.25rem;
}

.sign-up-btn,
.sign-in-btn {
  width: 20%;
}

/* Sign-up page -- end */

/* Bet Panorama -- start*/

.panorama {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 0;
  height: 90vh;
}

.user {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 90%;
  border: solid;
  justify-self: center;
  align-self: center;
  justify-content: space-evenly;
}

.user-bet {
  display: flex;
  justify-content: center;
  height: 100%;
}

.user-ticket {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.user-result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  width: 100%;
}

.ticket-surname {
  text-align: center;
  margin: 2.5%;
}

.ticket-hr {
  border-left: 1px solid;
  height: 90% !important;
  margin: 0 1%;
  align-self: center;
}

.team {
  width: 45%;
  display: flex;
  justify-content: center;
}

.team-choice {
  width: 15%;
  display: flex;
  justify-content: center;
}

/* Bet Panorama -- end*/

/* Loader -- start*/

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.loader {
  display: inline-block;
  width: 5%;
  height: 15%;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/* Loader -- end*/

/* Ranking page -- Start*/

.main-ranking {
  display: flex;
  width: 90%;
  margin: auto;
  height: 90vh;
  justify-content: space-evenly;
  flex-direction: row;
}

.ranking-wrapper,
.result-wrapper {
  width: 45%;
  margin: auto;
}

.akkezxla-result-wrapper {
  width: 60%;
  margin: auto;
}

.akkezxla-ranking-wrapper {
  width: 100%;
  margin: auto;
}

.ligue1-ranking {
  width: 100%;
  border: solid;
  text-align: center;
}

.akkezxla {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
}

.akkezxla-result,
.akkezxla-ranking {
  width: 60%;
  margin: auto;
  text-align: center;
  border: solid;
}

.akkezxla-result th,
.akkezxla-ranking th {
  border-bottom: solid;
}

/* Ranking page -- End*/

/* wide phone -- start */

@media (max-width: 850px) {
  .sign-in-form {
    width: 75%;
  }

  .sign-up-form {
    width: 90%;
  }

  .sign-up-main {
    height: 150vh;
  }

  .match-block {
    display: flex;
  }
}

/* wide phone -- start */

/* potrait phone -- start */

/* portrait phone -- start */
