* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* nav -- start */

.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 1.5em;
  text-decoration: none;
  background-color: white;
}

.phone-nav {
  width: 100%;
  justify-content: space-around;
  font-size: 1.5em;
  text-decoration: none;
  background-color: white;
}

.nav-link:hover {
  background-color: #00bc8c;
  color: white;
}

.nav-link:hover a {
  color: white;
}

.nav-link a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #00bc8c;
}

.nav-link {
  width: 20%;
  text-align: center;
  position: relative;
  display: flex;
}

#user:hover .user-param {
  display: flex;
  flex-direction: column;
}

.user-param {
  display: none;
  position: absolute;
  background-color: white;
  height: 250%;
  width: 75%;
  margin: auto;
  top: 100%;
  left: 0;
  align-items: center;
  justify-content: space-evenly;
  border: solid;
  border-top: none;
  padding: 5%;
  z-index: 1;
  border: solid #00bc8c 5px;
  border-top: none;
}

.user-param a {
  color: white;
}

.user-param button {
  width: 75%;
  margin: auto;
}

/* nav -- end */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-container {
  margin: 2.5% auto;
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.name-block {
  margin: 0 auto 2.5%;
  width: 80%;
  display: flex;
}

.name {
  text-align: center;
  border-radius: 0.25rem 0;
  border: solid 2.5px coral;
  margin: auto;
  width: 35%;
}

.form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bet-btn {
  color: black;
  width: 25%;
  margin: 2.5% auto 0;
}

.ticket {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: solid;
  border-radius: 0.25rem;
}

.bet-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bet-block input {
  display: none;
}

input[type="radio"] + label {
  display: flex;
  width: 25%;
  background-color: lightgray;
  margin: 5% auto;
  text-align: center;
  cursor: pointer;
  color: black;
  border-radius: 0.25rem 0;
}

input[type="radio"]:checked + label {
  background-color: lightslategray;
  color: white;
}

.match-block {
  margin: 2.5% auto;
  width: 80%;
}

.match-block p {
  margin: 0;
  text-align: center;
}

label p {
  margin: 0;
  width: 100%;
}

/* Résultat paris */

.final-bet {
  margin: auto;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.final-bet-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn-result-block {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btn-result {
  width: 60%;
}

/* Sign-up page -- start */

.sign-up-main,
.sign-in-main {
  height: 90vh;
}

.sign-up-form,
.sign-in-form {
  width: 50%;
  margin: auto;
  height: 80%;
  font-size: 1.5em;
}

.change-info-form {
  width: 75%;
  margin: auto;
  height: 80%;
  font-size: 1.5em;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sign-up-label,
.sign-in-label {
  width: 30%;
}

.sign-up-input,
.sign-in-input {
  width: 60%;
  border: solid 1px;
  border-radius: 0.25rem;
}

.sign-up-btn,
.sign-in-btn {
  width: 20%;
}

/* Sign-up page -- end */

/* Bet Panorama -- start*/

.panorama {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 0;
  height: 90vh;
}

.user {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 90%;
  border: solid;
  justify-self: center;
  align-self: center;
  justify-content: space-evenly;
  font-size: 0.9em;
}

.user-bet {
  display: flex;
  justify-content: center;
  height: 100%;
}

.user-ticket {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.user-result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  width: 100%;
}

.ticket-surname {
  text-align: center;
  margin: 2.5%;
  font-size: 1.2em;
}

.ticket-hr {
  border-left: 1px solid;
  height: 90% !important;
  margin: 0 1%;
  align-self: center;
}

.team {
  width: 45%;
  display: flex;
  justify-content: center;
}

.team-choice {
  width: 15%;
  display: flex;
  justify-content: center;
}

/* Bet Panorama -- end*/

/* Loader -- start*/

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.loader {
  display: inline-block;
  width: 5%;
  height: 15%;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/* Loader -- end*/

/* Ranking page -- Start*/

.main-ranking {
  display: flex;
  width: 90%;
  margin: auto;
  height: 90vh;
  justify-content: space-evenly;
  flex-direction: row;
}

.ranking-wrapper,
.result-wrapper {
  width: 45%;
  margin: auto;
}

.akkezxla-result-wrapper {
  width: 60%;
  margin: auto;
}

.akkezxla-ranking-wrapper {
  width: 100%;
  margin: auto;
}

.ligue1-ranking {
  width: 100%;
  border: solid;
  text-align: center;
}

.akkezxla {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
}

.akkezxla-result,
.akkezxla-ranking {
  width: 80%;
  margin: auto;
  text-align: center;
  border: solid;
}

.akkezxla-result th,
.akkezxla-ranking th {
  border-bottom: solid;
}

.update-form-container {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #222222;
}

.update-result-form-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.update-result-btn {
  height: 20%;
  width: 10%;
  font-size: 1.5em;
}

.top-update-form {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: white;
  color: #00bc8c;
  padding: 1.5%;
  align-items: center;
  margin-bottom: 5%;
}

.close-update-form {
  display: flex;
  position: absolute;
  right: 5%;
  font-size: 2em;
  cursor: pointer;
  width: 50px;
  height: 50px;
  justify-content: center;
  border-radius: 50%;
  transition: 0.6s ease;
}

.close-update-form:hover {
  background-color: #00bc8c;
  color: white;
}

/* Ranking page -- End*/

/* wide phone -- start */

.phone-nav {
  display: none;
}

@media (max-width: 850px) {
  .sign-in-form {
    width: 75%;
  }

  .sign-up-form {
    width: 90%;
  }

  .sign-up-main {
    height: 150vh;
  }

  .nav-link {
    width: 30%;
  }

  .panorama {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }

  .user {
    margin: 2.5%;
    padding-bottom: 2.5%;
  }

  .form-content {
    flex-direction: column;
  }

  .ticket {
    width: 90%;
    margin: 2.5%;
  }

  .final-bet {
    width: 90%;
    order: 1;
  }

  .match-block {
    display: flex;
    justify-content: space-evenly;
  }

  .match-block p {
    width: 50%;
    margin: auto;
  }

  .bet-block {
    width: 40%;
  }

  .main-ranking {
    height: 100%;
  }

  .ligue1-ranking-wrapper {
    display: none;
  }

  .akkezxla {
    width: 75%;
    margin: 2.5%;
  }

  .result-wrapper {
    margin: 2.5%;
  }

  .akkezxla-ranking {
    width: 75%;
  }
}

/* wide phone -- end */

/* potrait phone -- start */

@media (max-width: 450px) {
  .phone-nav {
    display: flex;
    position: relative;
  }

  .nav {
    display: none;
  }

  .nav-link {
    width: 100%;
    display: flex;
  }

  #user {
    width: 80%;
    margin: auto;
  }

  .user-param {
    display: grid;
    visibility: hidden;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    border: solid #00bc8c 5px;
    border-top: none;
    padding: 0;
  }

  .visibility {
    visibility: visible;
  }

  button a {
    text-decoration: none;
    color: white;
  }

  .visible {
    visibility: visible;
  }

  .user-param .nav-link {
    width: 100%;
    padding: 0;
  }

  .sign-in-main {
    height: 90vh;
  }

  .sign-up-main {
    height: 100%;
  }

  .sign-in-form {
    width: 90%;
  }

  .form-group {
    flex-direction: column;
  }

  .sign-up-form {
    margin: 10% auto;
  }

  .sign-up-label {
    width: 100%;
  }

  .sign-up-input {
    width: 100%;
  }

  .sign-up-btn {
    width: 50%;
    margin-top: 10%;
  }

  .user {
    font-size: 1.15em;
  }

  .user-bet {
    flex-direction: column;
  }

  .user-result {
    margin-bottom: 1%;
  }

  .ticket-hr {
    width: 90%;
    margin: 5% 0;
    border: solid white 1px;
  }

  .main-ranking {
    height: 90vh;
    width: 100%;
  }

  .akkezxla {
    height: 90%;
    width: 100%;
  }

  .akkezxla-ranking-wrapper {
    margin: 0;
  }

  .result-wrapper {
    width: 100%;
  }

  .akkezxla-ranking {
    width: 100%;
  }

  .update-result-form-content {
    flex-direction: column;
  }

  .update-result-btn {
    order: -1;
    width: 50%;
  }

  .match-block {
    flex-direction: column;
  }

  .match-block p {
    width: 100%;
  }

  .bet-block {
    margin: auto;
    width: 100%;
  }

  .border-nav {
    border-left: solid #00bc8c 5px;
    border-right: solid #00bc8c 5px;
  }

  .bet-btn {
    width: 60%;
  }
}

/* portrait phone -- end */
